<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/shared.css">
    <link rel="stylesheet" href="../css/links.css">
    <title>Auto Mart</title>
</head>
<body>
    <div class="container">
        <div class="overhead">
            <div>
                AutoMart
            </div>
            <form>
                <input type="search" placeholder="Search Item" class="input">
                <button type="submit" class="search-button">Search</button>
            </form>
        </div>
        <div class="flex">
            <div class="center">
                <span class="welcome-text">Buy and sell cars with Auto Mart, Nigeria's number 1 online automobile market.</span>
            </div>
        </div>
        <div class="flex">
            <div>
                <img src="../img/car1.jpg">
            </div>
            <div>
                <img src="../img/car2.jpg">
            </div>
            <div>
                <img src="../img/car3.jpg">
            </div>
            <div>
                <img src="../img/car4.jpg">
            </div>
        </div>
        <div class="flex">
            <div class="center">
                <a href="signup.html" class="sign-up">Sign Up</a>
                <a href="signin.html" class="sign-in">Sign In</a>
            </div>
        </div>
        <div class="footer">
            The Footer
        </div>
    </div>
</body>
</html>