<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Auto Mart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/shared.css">
    <link rel="stylesheet" href="../css/links.css">
    <link rel="stylesheet" href="../css/sidebar-mobile.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <a href="#">
                <h3>AutoMart</h3>
            </a>
            <div class="nav-menu">
                <a href="signin.html">Login</a>
                <a href="signup.html" class="black-button-link">Sign Up</a>
            </div>
            <div class="nav-mobile-menu">
                <div></div>
                <div></div>
                <div></div>
                <div class="hamburger" id="hamburger">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="sidebar-mobile" id="sidebar-mobile">
            <ul>
                <li><a href="signin.html">Login</a></li>
                <li><a href="signup.html">Sign Up</a></li>
            </ul>
        </div>
        <section id="hero" class="hero">
            <div class="inner-hero">
                <h1>Automart</h1>
                <p class="info-text">
                    <h2>Nigeria's number 1 online automobile market.</h2>
                </p>
                <p class="info-text">
                    <h2>Have your car placed for auction in trusted or private dealerships</h2>
                </p>
                <div class="p">
                    <a class="blue-button-link" href="signup.html">Get Started</a>
                </div>
            </div>
        </section>
        <section id="info" class="flex info">
            <div>
                <img src="../svg/car-fill-from-frontal-view.svg">
            </div>
            <div class="explain">
                <h1>What is AutoMart?</h1>
                <p class="info-text">
                    AutoMart is an online automobile market.
                    Do you have a car for sale or you need to buy one?
                    Have it placed for auction on AutoMart, the trusted online automobile market.
                </p>
                <p class="info-text">
                    AutoMart is an awesome platform to buy or sell cars of diverse makes.
                    With AutoMart, cars can be bought or sold from trusted dealerships or private sellers.
                </p>
            </div>
        </section>
        <section id="info-2" class="flex info-2">
            <div class="explain">
                <p class="info-text">
                    Pretty intuitive user interface that appeals to your eyes.
                    Finding your way around the app wouldn't prove a Herculean task.
                </p>
                <p class="info-text">
                    AutoMart is very easy to get around, providing a good and memorable user experience and always leaving you coming back for another glare.
                </p>
            </div>
            <div>
                <img src="../svg/software.svg">
            </div>
        </section>
        <section id="footer" class="footer">
            <div class="flex">
                <div class="explain">
                    <p class="info-text">
                        <h1>Important Notice!</h1>
                    </p>
                    <p class="info-text">
                        AutoMart is made with love by Kingsley Victor for the Andela developer challenge.
                    </p>
                    <p class="info-text">
                        This app should be used with discretion as AutoMart does not guarantee non-fraudulent deals.
                    </p>
                </div>
            </div>
            <div class="s-media">
                <img src="../svg/facebook-logo-in-circular-button-outlined-social-symbol.svg">
                <img src="../svg/social-twitter-circular-button.svg">
                <img src="../svg/google-plus-circular-button.svg">
                <img src="../svg/instagram.svg">
            </div>
        </section>
    </div>
    <script src="../js/sidebars.js"></script>
</body>
</html>