<!DOCTYPE html>
<html>
    <head>
        <title>Auto Mart | Place Order</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/shared.css">
        <link rel="stylesheet" href="../css/forms.css">
        <link rel="stylesheet" href="../css/links.css">
        <link rel="stylesheet" href="../css/alert.css">
        <link rel="stylesheet" href="../css/sidebar-mobile.css">
        <link rel="stylesheet" href="../css/filters.css">
        <link rel="stylesheet" href="../css/pagination.css">
        <link rel="stylesheet" href="../css/cards.css">
        <link rel="stylesheet" href="../css/texts.css">
    </head>
    <body>
        <div class="main">
                <div class="navbar">
                        <a href="#">
                            <h3>AutoMart</h3>
                        </a>
                        <div class="nav-menu">
                            <a href="dashboard.html">Main</a>
                            <a href="order.html">Order</a>
                            <a href="my-ads.html">My ADs</a>
                            <a href="car-sale.html">Post New AD</a>
                            <a href="#" class="black-button-link">Logout</a>
                        </div>
                        <div class="nav-mobile-menu">
                            <div class="hamburger" id="hamburger">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-mobile" id="sidebar-mobile">
                        <ul>
                            <li><a href="dashboard.html">Main</a></li>
                            <li><a href="order.html">Order</a></li>
                            <li><a href="my-ads.html">My ADs</a></li>
                            <li><a href="car-sale.html">Post New AD</a></li>
                        </ul>
                    </div>
                    <section id="flex" class="flex rd-padding">
                        <div class="center col">
                            <div class="alert-box" id="alert-box"></div>
                            <div class="filter-group">
                                <input type="text" placeholder="Filter By Price">
                                <input type="text" placeholder="Filter By Make">
                                <input type="text" placeholder="Filter By State">
                            </div>
                            <div class="whole-section">
                                <div class="flex rd-padding">
                                    <div class="card">
                                        <div>
                                            <img src="../img/car1.jpg" class="wider">
                                        </div>
                                        <div>
                                            <p class="info-text">
                                                Mercedes Benz
                                                <span class="price-text">$150</span>
                                            </p>
                                        </div>
                                        <div>
                                            <button class="green-button-link">Place Order</button>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div>
                                            <img src="../img/car2.jpg" class="wider">
                                        </div>
                                        <div>
                                            <p class="info-text">
                                                Toyota Camri
                                                <span class="price-text">$250</span>
                                            </p>
                                        </div>
                                        <div>
                                            <button class="green-button-link">Place Order</button>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div>
                                            <img src="../img/car3.jpg" class="wider">
                                        </div>
                                        <div>
                                            <p class="info-text">
                                                BMW
                                                <span class="price-text">$280</span>
                                            </p>
                                        </div>
                                        <div>
                                            <button class="green-button-link">Place Order</button>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div>
                                            <img src="../img/car4.jpg" class="wider">
                                        </div>
                                        <div>
                                            <p class="info-text">
                                                Honda Accord
                                                <span class="price-text">$160</span>
                                            </p>
                                        </div>
                                        <div>
                                            <button class="green-button-link">Place Order</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="paginators">
                                    <a href="#" class="paginator active">&lt;</a>
                                    <a href="#" class="paginator">1</a>
                                    <a href="#" class="paginator">2</a>
                                    <a href="#" class="paginator">3</a>
                                    <a href="#" class="paginator">4</a>
                                    <a href="#" class="paginator">&gt;</a>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="footer" class="footer">
                            <div class="flex">
                                <div class="explain">
                                    <p class="info-text">
                                        <h1>Important Notice!</h1>
                                    </p>
                                    <p class="info-text">
                                        AutoMart is made with love by Kingsley Victor for the Andela developer challenge.
                                    </p>
                                    <p class="info-text">
                                        This app should be used with discretion as AutoMart does not guarantee non-fraudulent deals.
                                    </p>
                                </div>
                            </div>
                            <div class="s-media">
                                <img src="../svg/facebook-logo-in-circular-button-outlined-social-symbol.svg">
                                <img src="../svg/social-twitter-circular-button.svg">
                                <img src="../svg/google-plus-circular-button.svg">
                                <img src="../svg/instagram.svg">
                            </div>
                        </section>
        </div>
        <script src="../js/sidebars.js"></script>
    </body>
</html>