<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/shared.css">
        <link rel="stylesheet" href="/css/forms.css">
        <link rel="stylesheet" href="/css/links.css">
        <link rel="stylesheet" href="/css/sidebar-mobile.css">
        <link rel="stylesheet" href="/css/alert.css">
        <link rel="stylesheet" href="/css/loader.css">
        <title>Auto Mart | Sign Up</title>
    </head>
    <body>
        <div class="main">
                <div class="navbar">
                        <a href="#">
                            <h3>AutoMart</h3>
                        </a>
                        <div class="nav-menu">
                            <a href="/">Home</a>
                            <a href="/login" class="black-button-link">Login</a>
                        </div>
                        <div class="nav-mobile-menu">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div class="hamburger" id="hamburger">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <!--Visible only on mobile-->
                    <div class="sidebar-mobile" id="sidebar-mobile">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                    </div>
            <div class="flex">
                <div class="center col">
                    <div id="alert" class="alert-box"></div>
                    <div id="loader" class="loader hide"></div>
                   <div class="form-group">
                       <h3>Register</h3>
                       <form id="sign_up_form" enctype="application/json">
                           <input id="email" class="input" name="email" type="email" placeholder="Email" required>
                           <input id="first_name" class="input" name="first_name" type="text" placeholder="First Name">
                           <input id="last_name" class="input" name="last_name" type="text" placeholder="Last Name">
                           <input id="password" class="input" name="password" type="password" placeholder="Password" required>
                           <input id="confpassword" class="input" name="confpassword" type="password" placeholder="Confirm Password" required>
                           <input id="address" class="input" name="address" type="text" placeholder="Address">
                           <input id="phone_number" class="input" name="phone_number" type="tel" placeholder="Phone Number">
                           <button id="regBtn" class="sign-up" type="submit">Sign Up</button>
                       </form>
                       <span>Already registered?</span>
                       <a href="/login">Sign In</a>
                   </div> 
                </div>
            </div>
            <section id="footer" class="footer">
                <div class="flex">
                    <div class="explain">
                        <p class="info-text">
                            <h1>Important Notice!</h1>
                        </p>
                        <p class="info-text">
                            AutoMart is made with love by Kingsley Victor for the Andela developer challenge.
                        </p>
                        <p class="info-text">
                            This app should be used with discretion as AutoMart does not guarantee non-fraudulent deals.
                        </p>
                    </div>
                </div>
                <div class="s-media">
                    <img src="/svg/facebook-logo-in-circular-button-outlined-social-symbol.svg">
                    <img src="/svg/social-twitter-circular-button.svg">
                    <img src="/svg/google-plus-circular-button.svg">
                    <img src="/svg/instagram.svg">
                </div>
            </section>
        </div>
        <script src="/js/sidebars.js"></script>
        <script src="/js/signup.js"></script>
    </body>
</html>