<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Auto Mart | Sign In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/shared.css">
    <link rel="stylesheet" href="../css/forms.css">
    <link rel="stylesheet" href="../css/links.css">
    <link rel="stylesheet" href="../css/alert.css">
    <link rel="stylesheet" href="../css/sidebar-mobile.css">
</head>
<body>
    <div class="main">
            <div class="navbar">
                    <a href="#">
                        <img src="../svg/icons8-car-50-2.png">
                    </a>
                    <div class="nav-menu">
                        <a href="index.html">Home</a>
                        <a href="signup.html" class="black-button-link">Sign Up</a>
                    </div>
                    <div class="nav-mobile-menu">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div class="hamburger" id="hamburger">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <!--Visible only on mobile-->
                <div class="sidebar-mobile" id="sidebar-mobile">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="signup.html">Sign Up</a></li>
                    </ul>
                </div>
        <div class="flex">
            <div class="center">
                <div class="alert-box" id="alert"></div>
                <div class="form-group">
                    <h3>Login</h3>
                    <form id="login_form">
                        <input type="email" class="input" placeholder="Email">
                        <input type="password" class="input" placeholder="Password">
                        <button type="submit" class="sign-in">Sign In</button>
                    </form>
                    <span>Don't have an account?</span>
                    <a href="signup.html">Sign Up</a>
                </div>
            </div>
        </div>
        <section id="footer" class="footer">
                <div class="flex">
                    <div class="explain">
                        <p class="info-text">
                            <h1>Important Notice!</h1>
                        </p>
                        <p class="info-text">
                            AutoMart is made with love by Kingsley Victor for the Andela developer challenge.
                        </p>
                        <p class="info-text">
                            This app should be used with discretion as AutoMart does not guarantee non-fraudulent deals.
                        </p>
                    </div>
                </div>
                <div class="s-media">
                    <img src="../svg/facebook-logo-in-circular-button-outlined-social-symbol.svg">
                    <img src="../svg/social-twitter-circular-button.svg">
                    <img src="../svg/google-plus-circular-button.svg">
                    <img src="../svg/instagram.svg">
                </div>
            </section>
    </div>
    <script src="../js/signin.js"></script>
    <script src="../js/sidebars.js"></script>
</body>
</html>