.black-button-link {
    border: 2px solid black;
    border-radius: 5px;
    padding: 4px 6px;
    transition: 500ms opacity ease-in-out;
    height: auto;
}

.black-button-link:hover {
    opacity: 0.6;
}

.blue-button-link {
    border: 1px solid mediumslateblue;
    border-radius: 8px;
    padding: 12px 10px;
    transition: 500ms background ease-in;
    background: transparent;
    color: white;
}

.blue-button-link:hover {
    background: mediumseagreen;
}

.green-button-link {
    background: mediumspringgreen;
    padding: 8px 10px;
    border: none;
    transition: 500ms all ease-in;
}

.green-button-link:hover {
    opacity: 0.5;
}

.yellow-button-link {
    background: yellow;
    padding: 8px 10px;
    border: none;
    transition: 500ms all ease-in;
}

.yellow-button-link:hover {
    opacity: 0.5;
}

.violet-button-link {
    background: darkorchid;
    padding: 8px 10px;
    border: none;
    transition: 500ms all ease-in;
}

.violet-button-link:hover {
    opacity: 0.5;
}

.red-button-link {
    background: red;
    padding: 8px 10px;
    border: none;
    transition: 500ms all ease-in;
    color: white;
}

.red-button-link {
    opacity: 0.5;
}