.card {
    display: flex;
    flex-flow: column wrap;
    border-radius: 5px;
    background: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 45px;
}

.card img {
    width: 150px;
    height: 150px;
}

.card img.wider {
    width: 200px;
    height: 200px;
}

.card > div {
    margin: 8px;
}

.card input.update {
    border: 1px solid #dcdcdc;
    padding: 4px 8px;
    border-radius: 5px;
    width: 100px;
}

@media screen and (max-width: 719px) {
    .card {
        width: 80%;
    }

    .card.wider {
        width: 100%;
    }
}