.sidebar {
    display: none;
    margin-left: -24px;
    height: 60vh;
    background: thistle;
    width: 20%;
}

@media screen and (min-width: 750px) {
    .sidebar {
        display: block;
        margin: 0;
    }
}