.black-button-link {
    border: 2px solid black;
    border-radius: 5px;
    padding: 4px 6px;
    transition: 500ms opacity ease-in-out;
}

.black-button-link:hover {
    opacity: 0.6;
}

.blue-button-link {
    border: 1px solid mediumslateblue;
    border-radius: 8px;
    padding: 12px 10px;
    transition: 500ms background ease-in;
    background: transparent;
    color: white;
}

.blue-button-link:hover {
    background: mediumseagreen;
}