a {
    margin: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 500ms all ease-out;
}

a:hover {
    opacity: 0.7;
}

.sign-up {
    padding: 10px 12px;
    background: dodgerblue;
    color: whitesmoke;
    width: 100%;
    border: none;
    cursor: pointer;
}

.sign-in {
    padding: 10px 12px;
    background: mediumseagreen;
    color: whitesmoke;
    width: 100%;
    border: none;
    cursor: pointer;
}

.action-anchor {
    padding: 10px 12px;
    background: transparent;
    color: black;
    display: block;
    border: 1px solid black;
    cursor: pointer;
}