@font-face {
    src: url("../fonts/Oswald/Oswald-Regular.ttf") format("truetype");
    font-family: "Oswald";
    font-style: oblique 20deg 50deg;
}

@font-face {
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-family: "Roboto";
}

@font-face {
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
    font-family: "OpenSans";
}

@font-face {
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf") format("truetype");
    font-family: "Condensed";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    margin: 8px;
}

ul {
    list-style-type: none;
}

.main {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    background-color: whitesmoke;
}

.navbar {
    display: grid;
    grid-template-columns: 50% 40%;
    column-gap: 10%;
    background: white;
    align-items: flex-end;
}

.nav-menu {
    display: none;
}

.nav-mobile-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.nav-mobile-menu > div {
    margin-left: 12px;
}

.hero {
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 130px;
    padding-bottom: 130px;
    text-align: center !important;
    font-family: 'Roboto', sans-serif;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center.col {
    flex-flow: column wrap;
}

.center.row {
    flex-flow: row wrap;
}

.hero h1 {
    font-size: 4rem !important;
    font-weight: 400;
}

.hero h2 {
    font-size: 25px;
    font-weight: 200;
}

.inner-hero {
    margin: 45px;
}

.info {
    background: ghostwhite;
    width: 100%;
    height: auto;
}

.info h1 {
    font-weight: 200;
}

.info div {
    margin-left: 70px;
    margin-right: 70px;
}

.info-text {
    font-size: 1rem !important;
    margin-bottom: 1.5rem;
    font-family: "Condensed", sans-serif;
}

.info-text h1 {
    font-size: 30px;
}

.info-2 {
    background: mediumspringgreen;
    width: 100%;
    height: auto;
}

.info-2 div {
    margin-left: 70px;
    margin-right: 70px;
}

.explain {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.flex {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-family: "OpenSans", sans-serif;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.flex.rd-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex img {
    width: 200px;
    height: 200px;
}

.hamburger {
    width: 50px;
    height: 50px;
    float: right;
    cursor: pointer;
}

.hamburger > div {
    width: 30px;
    height: 4px;
    background: black;
    margin: 4px;
}

.p {
    margin: 2rem;
}

.footer {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: lavender;
    color: black;
}

.footer .flex {
    margin-left: 70px;
    margin-right: 70px;
}

.s-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.s-media img {
    width: 50px;
    height: 50px;
    margin: 8px;
}

.img-sm-20 {
    width: 20px;
    height: 20px;
}

.s-button {
    padding: 4px 4px;
    background: mediumpurple;
    color: white;
    border: none;
}

.update-div {
    display: none;
}

.update-div.show {
    display: block;
}

@media screen and (min-width: 720px) {
    .nav-menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
    }

    .flex {
        flex-flow: row wrap;
    }

    .hamburger {
        display: none;
    }

    .nav-mobile-menu {
        display: none;
    }

    .footer {
        flex-flow: row wrap;
    }
}