.green-text {
    color: greenyellow;
}

.gold-text {
    color: gold;
}

.price-text {
    background-color: mediumslateblue;
    border-radius: 50%;
    padding: 4px 2px;
    color: white;
    font-size: 13px;
}

.state-text {
    border-radius: 50%;
    padding: 4px 2px;
    color: white;
    font-size: 13px;
}

.state-text.new {
    background: darkgreen;
}

.state-text.old {
    background: darkgoldenrod;
}